
input[type="text"], textarea {
  outline: none;
  box-shadow:none ;
  border:1px solid #ccc;
  border-radius: 0px;
  -webkit-box-shadow: none ;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none ;
  -webkit-border-radius: 0px ;
  -moz-border-radius: 0px;
  -o-border-radius: 0px ;
  -ms-border-radius: 0px;
}
.modal-footer {
  display: none;
}



