
input[type="text"], textarea {
  outline: none;
  box-shadow:none ;
  border:1px solid #ccc;
  border-radius: 0px;
  -webkit-box-shadow: none ;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none ;
  -webkit-border-radius: 0px ;
  -moz-border-radius: 0px;
  -o-border-radius: 0px ;
  -ms-border-radius: 0px;
}
.modal-footer {
  display: none;
}

.btn-general{
  background: #2C74B3;
    border-radius: 2rem;
    color: #FFFFFF;
    border: 1px solid #2C74B3;
    padding: 0.5rem 1.5rem;
}
.btn-general:hover{
background: #66a7df;
}
.text-header:hover{
  color: #66a7df;
}

.btn-draft{
  border: 1px solid #2c74b3a4;
  background: transparent;
  border-radius: 2rem;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
}
.btn-draft:hover{
  background: #2C74B3;
  color: white;
}

.top-icon {
  text-decoration: none;
    padding-bottom: 0.9rem;
}
.img-top{
  margin-bottom: 0.9rem;
}

.name-icon,
.date-icon, .text-header {
  color: #2f2f30;
}

.nav-tabs {
  background-color: white;
  position: relative;
  z-index: 1;
}

.nav-tabs .nav-link {
  margin-top: 0.3rem;
  padding: 1rem 0 1rem 1rem;
  border: 0px solid transparent;
  text-align: center;
  color: #2f2f30 !important;
}

 .nav-tabs .nav-link.active,
 .nav-tabs .nav-item.show .nav-link {
   color: #495057;
   border-bottom: 2px solid #2C74B3;
      border-radius: 0 !important;
   
 }




